.one {
  background-color: black;
  width: 8.5rem;
  height: 3rem;
  border: 0.06rem white solid;
}
.upperpart {
  position: absolute;
  top: 1.5rem;
  right: 1.9rem;
}
.lowerpart {
  width: 45rem;
  position: absolute;
  top: 23rem;
  left: 34rem;
  text-align: center;
}

.middletext1 {
  width: 42.196rem;
  font-size: 4.125rem;
  font-weight: bold;
  line-height: 1.1;
  font-family: sans-serif;
}

.middletext3 {
  font-size: 2.625rem;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 2;
  text-align: center;
}
.middletext4 {
  font-size: 1.35rem;
  font-family: sans-serif;
  line-height: 2;
}
.logo {
  color: red;
  font-family: bebasneueregular;
  font-weight: 900;
  letter-spacing: 0;
  position: absolute;
  top: 3rem;
  left: 5rem;
}
